.title {
  margin-bottom: 0;
  margin-top: 0;
}

.repo {
  border: 1px solid rgba(161, 161, 161, 1);
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 1rem .5rem;
  padding: .5rem;
  width: 47%;
}

.repoName {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.activityWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  width: 100%;
}

.commitsWrapper {
  font-size: .9rem;
  padding: 0;
}
.commitTime {
  list-style: none;
  padding-left: .3rem;
}
